<div class="container">
    <h1 class="title">MONTY-HALL</h1>
    <p class="welcome-text">Welcome Player!!!!</p>
    <div class="instructions-container">
        <h2>Instructions</h2>
        <ol class="instructions-list">
            <li>Enter the desired number of simulations.</li>
            <li>Decide whether to always switch doors or always stay with your initial choice.</li>
            <li>The game involves one car and two goats hidden behind three doors.</li>
            <li>In each simulation:
                <ul>
                <li>You'll first pick a door.</li>
                <li>The host will then reveal a goat behind a different, unopened door.</li>
                <li>You'll have the option to switch your choice to the remaining closed door.</li>
                <li>Make your final selection.</li>
                <li>The doors will open, revealing if you've won the car!</li>
                </ul>
            </li>
            <li>Finally the application reveals how many times you have won an lost the car.</li>
        </ol>
    </div>
    <div class="button-container">
        <p-button label="Enter Monty Hall" icon="pi pi-play" (click)="navigateToMontyHall()"></p-button>
    </div>
</div>