<div class="container">
    <h1 class="title">MONTY-HALL</h1>
    <p class="welcome-text">Welcome Player!!!!</p>
    <div class="instructions-container">
        <h2>Instructions</h2>
        <ol class="instructions-list">
            <li>Behind one of three presented doors is a car, and behind the other two are goats.</li>
            <li>Select a door.</li>
            <li>The host will reveal a goat behind one of the unchosen doors.</li>
            <li>You'll be given the option to either stay with your original choice or switch to the other unopened door.</li>
            <li>Make your final decision.</li>
            <li>The doors will open, and you'll see if you've won the car!</li>
        </ol>
    </div>
    <div class="button-container">
        <p-button label="Enter Monty Hall" icon="pi pi-play" (click)="navigateToMontyHall()"></p-button>
    </div>
</div>