.container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-items: center;
 justify-content: center;
 padding: 20px;
 font-family: sans-serif;
 height: 100vh;
 width: 100%;
 }

.stats-n-btns-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.stats-n-btns {
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.try-again-btn {
    padding-top: 2vh ;
}

.simulation-input {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.input-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-door-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.switch-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}